AISSTREAM_API_KEY=PASTE_YOUR_AISSTREAM_KEY_HERE
BRIDGE_TOKEN=MAKE_A_LONG_RANDOM_SECRET
APP_URL=https://YOUR-INFINITYFREE-DOMAIN
AIS_INGEST_KEY=MAKE_ANOTHER_LONG_RANDOM_SECRET
AIS_INGEST_PATH=/aisfeed.php
AIS_BOXES=[[[70,-180],[-70,-60]],[[70,-60],[-70,20]],[[70,20],[-70,100]],[[70,100],[-70,180]]]
PORT=10000
